
.information-table{
    /* height: 100%; */
    width: 100%;
    /* overflow-y: scroll; */
    border: 2px solid #ccc;
}



.bot-info-header{
}

.bot-info-description{
    text-align: left;
}

/* .bot-info-ability-container{
    text-align: left;
} */

.bot-info-ability-details{
    text-align: left;
}

.ability-introduction{
    width: 100%;
}

.ability-Image{
    object-fit: cover;
    width: 20%;
    float: left;
}

.ability-name{
    width: 80%;
    float: right;
}

.ability-statistics{
    width: 100%;
    text-align: left;
}

.ability-description{
    width: 100%;
    text-align: left;
}


.bot-stat-header{
    
}


.bot-stat-life{
    text-align: left;
}

.bot-stat-attack{
    text-align: left;
}

.bot-stat-movement{
    text-align: left;
}

.border-enemy {
    border-style: solid;
    border-color: red;
}
.border-team {
    border-style: solid;
    border-color: green;
}
.player-container{
    width: 100%;
}


