
.information-table{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.bot-info-header{

}

.bot-info-description{
    
}

.bot-info-ability-container{
    
}

.bot-stat-header{
    
}


.bot-stat-life{
    
}

.bot-stat-attack{
    
}

.bot-stat-movement{
    
}




