


.tButton {
	box-shadow: 0px 0px 10px 2px #a2b39d;
    background: linear-gradient(to bottom, #181a18 5%, #757a71 100%);
    background-color: #181a18;
    border-radius: 6px;
    border: 2px solid #b4c2b6;
    display: inline-block;
    cursor: pointer;
    color: #dbd0db;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 50px;
    text-decoration: none;
    text-shadow: 2px 3px 5px #4b6347;
}
.tButton:hover {
	background:linear-gradient(to bottom, #757a71 5%, #181a18 100%);
	background-color:#757a71;
}
.tButton:active {
	position:relative;
	top:1px;
}


.information-table {
    /* height: 100%; */
    width: 100%;
    /* overflow-y: scroll; */
    border: 2px solid #ccc;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #aaa;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.information1-table::-webkit-scrollbar {
    -webkit-appearance: none;
}




.bot-info-header {}

.bot-info-description {
    text-align: left;
}

/* .bot-info-ability-container{
    text-align: left;
} */

.bot-info-ability-details {
    text-align: left;
}

.ability-introduction {
    width: 100%;
}

.ability-Image {
    object-fit: cover;
    width: 20%;
    float: left;
}

.ability-name {
    width: 80%;
    float: right;
}

.ability-statistics {
    width: 100%;
    text-align: left;
}

.ability-description {
    width: 100%;
    text-align: left;
}


.bot-stat-header {}


.bot-stat-life {
    text-align: left;
}

.bot-stat-attack {
    text-align: left;
}

.bot-stat-movement {
    text-align: left;
}

.border-enemy {
    border-style: solid;
    border-color: red;
}

.border-team {
    border-style: solid;
    border-color: green;
}

.border-regular {
    border-style: solid;
    border-color: #aaa;
}

.result-player-container {
    width: 100%;
}

.result-bot-details-container {
    width: 100%;
    border-top: 1px solid #aaa;
}

.result-bot-details-image-icon {
    width: 25%;
    /* height: 100%; */
    object-fit: cover;
    float: right;
}

.result-bot-details {
    text-align: left;
    float: left;
    width: 75%;
}