:root {
    --color-menu-background: #666666;
    --color-menu-boundary: #222222;
    /* --blue: #00b; */
    /* --fullwidth: 100%; */
    --font-size-header: 8vw;
    --font-size-content: 5vw;
    --font-color-dark: #111111;
    --font-color-light: #cccccc;
}

* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */
html,
body {
    width: 100%;
    height: 100%;
}

/* just to be sure these are full screen*/
canvas {
    display: block;
}

/* To remove the scrollbars */
/* to show the canvas bounds */
/* canvas {
        background: #eee;
    } */

/* The Modal (background) */
.modal {
    display: none;
    overflow: hidden;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; */
    /* Full width */
    /* height: 100%; */

    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

.load-indicator {
    display: none;
    height: 100%;
    width: 100%;
}

.menu-home {
    display: none;
    height: 100%;
    width: 100%;
}

#loader-bar {
    top: 40%;
}

#loader-text {
    top: 70%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* Modal Content/Box */
/* .start-game {
    background-color: #222222;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    overflow: auto;
    text-align: center;
} */

.menu-text {
    color: #aaa;
    /* float: ; */
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    width: 100%;

}

/* The Close Button */
/* .close {
    
    position: sticky;
    top: 95%;
    display: inline-block;
} */

/* .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */



.load-estimate {
    height: 40%;
    width: 100%;
    top: 40%;
}

.load-estimate-time-elapsed {
    height: 40%;
    width: 100%;
    top: 60%;
}

.bot-selection-table {
    width: 100%;
}

.bot-image {
    /* background-color: #cccccc; */
    /* max-width:100%;
    max-height:100%; */
    /* vertical-align: middle; */
    height: 9vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-header {
    text-align: center;
    font-size: var(--font-size-header);
    color: var(--font-color-light);
}

.home-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    background-color: var(--color-menu-boundary);
    padding: 0px;
}

.home-grid-container>div {
    background-color: var(--color-menu-background);
    text-align: center;
    padding: 0px 0;
    font-size: var(--font-size-content);
}

.button-home-start {
    grid-column-start: 1;
    grid-column-end: 4;
    cursor: pointer;
}

.bot-selection-container {
    /* background-color: #333333; */
    position: relative;
    height: 10vh;
    border: 5px solid gold;
}

.bot-selection-option-container {
    /* background-color: #333333; */
    position: relative;
    cursor: pointer;
    height: 10vh;
}

.home-grid-header {
    height: 11vh;
}

/* .check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
} */

.bot-image-tag {
    /* position: relative; */
    color: greenyellow;
    top: 0px;
}


.game-footer-menu{
    display: none;
    bottom: 0%;
    width: 90%;
    height: 15%;
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
}

.game-footer-bot-selection{
    float: left;
    width: 20%;
}

.footer-bot-image{
    width: 100%;
    height: 100%;
}

.game-header-map{
    display: none;
    top: 0%;
    left: 0%;
    width: 15%;
    height: 15%;
    position: absolute;
}
.map-canvas{
    width: 100%;
    height: 100%;
}

/* .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item8 {
    grid-column-start: 1;
    grid-column-end: 4;
} */