:root {
    --color-menu-background: #666666;
    --color-menu-boundary: #222222;
    /* --blue: #00b; */
    /* --fullwidth: 100%; */
    --font-size-header: 8vw;
    --font-size-content: 5vw;
    --font-color-dark: #111111;
    --font-color-light: #cccccc;
}

* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */
html,
body {
    width: 100%;
    height: 100%;
    position: fixed;
    overscroll-behavior: none;
}

.footerrow
{
	/* display: inline-flex;
    clear: both; */
    /* width: 100%; */
    display: none;
    height: 0;
    position: absolute;
    bottom: 0;
}
.left-joystick
{
    position: fixed;
    /* float: left; */
    width: 200;
    height: 200;
    /* min-width: 300px; */
    bottom: 15%;
    left: 15%;
    z-index: 2;
}
.right-joystick
{
    position: fixed;
    /* float: left; */
    width: 200;
    height: 200;
    right: 15%;
    bottom: 15%;
    z-index: 2;
    /* min-width: 300px;*/
    
}
.columnCetral
{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 20%;
    /* min-width: 300px;*/
    position: fixed;
}


/* #joy2Div
{
	width:200px;
	height:200px;
	margin:50px
} */
#joystick
{
	border: 1px solid #FF0000;
}
#joystick2
{
	border: 1px solid #0000FF;
}



/* just to be sure these are full screen*/
canvas {
    display: block;
    touch-action: none;
}

.parent-body {
    cursor: url(linked-knife.png), auto;
    /* cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto; */
}

/* To remove the scrollbars */
/* to show the canvas bounds */
/* canvas {
        background: #eee;
    } */

/* The Modal (background) */
.modal {
    display: none;
    overflow: hidden;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; */
    /* Full width */
    /* height: 100%; */

    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

#fps {
    position: absolute;
    /* background-color: black; */
    /* border: 2px solid red; */
    text-align: center;
    font-size: 16px;
    color: white;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 20px;
}

.load-indicator {
    display: none;
    height: 100%;
    width: 100%;
}

.menu-home {
    display: none;
    height: 100%;
    width: 100%;
}

#loader-bar {
    top: 40%;
}

#loader-text {
    top: 70%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* Modal Content/Box */
/* .start-game {
    background-color: #222222;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    overflow: auto;
    text-align: center;
} */

.menu-text {
    color: #aaa;
    /* float: ; */
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    width: 100%;

}

/* The Close Button */
/* .close {
    
    position: sticky;
    top: 95%;
    display: inline-block;
} */

/* .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */



.load-estimate {
    height: 40%;
    width: 100%;
    top: 40%;
}

.load-estimate-time-elapsed {
    height: 40%;
    width: 100%;
    top: 60%;
}

.bot-selection-table {
    width: 100%;
}

.bot-image {
    /* background-color: #cccccc; */
    /* max-width:100%;
    max-height:100%; */
    /* vertical-align: middle; */
    height: 9vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-header {
    text-align: center;
    font-size: var(--font-size-header);
    color: var(--font-color-light);
}

.home-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    background-color: var(--color-menu-boundary);
    padding: 0px;
}

.home-grid-container>div {
    background-color: var(--color-menu-background);
    text-align: center;
    padding: 0px 0;
    font-size: var(--font-size-content);
}

.button-home-start {
    grid-column-start: 1;
    grid-column-end: 4;
    cursor: pointer;
}

.result {
    display: none;
    height: 100%;
    width: 100%;
    color: #aaa;
}

.bot-selection-container {
    /* background-color: #333333; */
    position: relative;
    height: 10vh;
    border: 5px solid gold;
}

.bot-selection-option-container {
    /* background-color: #333333; */
    position: relative;
    cursor: pointer;
    height: 10vh;
}

.home-grid-header {
    height: 11vh;
}

/* .check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
} */

.bot-image-tag {
    /* position: relative; */
    color: greenyellow;
    top: 0px;
}


.game-footer-menu {
    /* display: none; */
    /* bottom: 0%; */
    width: 100%;
    height: 100%;
    /* position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%); */
}

.game-footer-bot-selection {
    float: left;
    width: 20%;
}

.footer-bot-image {
    width: 100%;
    height: 100%;
}

.game-header-table {
    width: 100%;
    height: 100%;
}

.game-header-menu {
    display: none;
    top: 0;
    width: 50%;
    height: 20%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}


.header-clock-row {}

.header-data-row {}

.header-clock-left {
    text-align: center;
}

.header-clock-cell {
    text-align: center;
}

.header-clock-right {
    text-align: center;
}

.header-cell-left {
    text-align: center;
}

.header-cell-right {
    text-align: center;
}

.header-cell-center {
    text-align: center;
}

.game-result-container{
    text-align: center;
}


/* .joystick-parent {
    display: none;
    position: absolute;
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
    bottom: 0;
}

#joystick{
    width: 100%;
    height: 100%;
} */

